body {
  margin: 0;
}

main {
  padding: 0%;
  margin: 0;
}

.nav-logo {
  padding: 1rem 2rem 1rem 2rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 0;
  align-items: center;
  padding-right: 1rem;
  padding-left: 0;
}

.nav-header {
  height: 100px;
  width: 100%;
  background-color: rgb(100, 10, 50);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  justify-content: space-between;
}

.main-footer {
  padding-bottom: 2rem;
}

.nav-list {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-item a {
  padding: 1rem;
  color: white;
  text-decoration-line: none;
}
.nav-item a:hover {
  color: greenyellow;
  text-decoration-line: underline;
}
